# Lab 4: Combining Python and SQL
In this lab you'll write Python code that queries a database and prints nicely formatted results.

Remember that it is always best to join on IDs, if possible, not words.

## 0.  Join an *existing* group on Canvas.
Go to the People tab and enter *Lab 4* in the search box.  Find an empty group--your other group members should sign up for that group.  Do NOT create your own group.

## About the data

You're given a database, *lab4.db*, with two tables.  
* **usnews** College and university ranking data for 2018 by US News and World Report. This dataset comes from [Kaggle](https://www.kaggle.com/theriley106/university-statistics).
* **ipeds_2018** Facts about colleges and universities as reported by [IPEDS](https://nces.ed.gov/ipeds/datacenter/DataFiles.aspx?goToReportId=7), the Integrated Postsecondary Education Data System for 2018 in their Institutional Characteristics survey.

## 1. Write a Summary Program
Write a program that can print a summary of an institution.

Your Python code should do the following _in a loop_:
1. Prompt the user to enter the name of a school, or "quit" to stop.
1. Run a database query that joins both tables to retrieve these facts about the school the user entered:
  * **from usnews data** displayName, overallRank, enrollment, businessRepScore (OK if None), engineeringRepScore (OK if None)
  * **from ipeds_2018 data** city, stabbr, chfnm, chftitle, gentele, webaddr    
  You need to figure out what column values the tables have in common to be able to do this.
3. Print a nicely formatted summary of the school containing all the facts you just retrieved.  See below for an example. 
4. **Add the code for this step only after you've finished the previous ones.** If there are no schools in your results, print a message saying "Cannot find a school with that name."  This is worth only one point, so if you can't get it, it's not a huge deal.  Hint:  Consider your existing code.  Create a variable that you initialize outside your loop to print your results.  Change that variable inside the loop somehow.  If *after the loop is finished* the value of the variable hasn't changed, it means that there were no rows to iterate through to print.

How to format the output is up to you, except you must not cram it all onto a single line. Use multiple lines (and multiple print statements) and try to make it look nice. Here's an example:

```
Enter a school name:  Boston

Boston College                             Rank:   32
  www.bc.edu                               Chestnut Hill, MA
  Enrollment:   9309                       6175528000
  President: William P. Leahy, S.J.
  Reputation Scores   Engineering: N/A  Business: 3.6

Boston University                          Rank:   37
  www.bu.edu                               Boston, MA
  Enrollment:  17944                       6173532000
  President: Robert  A. Brown
  Reputation Scores   Engineering: 3.1  Business: 3.4

University of Massachusetts--Boston        Rank:  202
  www.umb.edu                              Boston, MA
  Enrollment:  12847                       6172875000
  Interim Chancellor: Katherine Newman
  Reputation Scores   Engineering: N/A  Business: 2.6
Enter a school name:  quit
```


Remember this formatting trick:  
* In an f-string you can print the value of a variable as {my_var:10} to indicate that you want to print the variable value and as many blank spaces as you need to take exactly 10 spaces.

## 2.  Submit File
One person from the group should submit to Canvas this file (_Lab_4.ipynb_).  For this lab having only one person submit is fine.

In [29]:
y= "blue"
print(f'{y:10} {y}')

blue       blue

In [2]:
get_ipython().ast_node_interactivity = 'all'
import sqlite3

In [21]:
connection = sqlite3.connect('lab4.db')

name = input("Enter the name of a school or type 'quit': ")

while name!= "quit":
    x=0
    query= '''
    SELECT usnews.displayName, usnews.overallRank,usnews.enrollment, usnews.engineeringRepScore,usnews.businessRepScore, ipeds_2018.CITY, ipeds_2018.STABBR, ipeds_2018.CHFNM,ipeds_2018.CHFTITLE, ipeds_2018.GENTELE, ipeds_2018.WEBADDR 
    from usnews JOIN ipeds_2018 on usnews.xwalkId = ipeds_2018.UNITID 
    WHERE usnews.displayName like ?;
    '''

    result = connection.execute(query,("%"+name+"%",))

    for row in result:
        x+=1
        print()
        print(f'{row[0]:40}Rank: {row[1]}')
        print(f'{row[-1].lstrip(")"):40}{row[5]},{row[6]}')
        print(f'Enrollment:{row[2]:7}                      {row[-2]}')
        print(f'President:{row[7].lstrip(")")}')
        
        if row[3]=="None" and row[4]== "None":
            print(f'Reputation Scores   Engineering:N/A   Businesss:N/A')
        elif row[3] == "None":
            print(f'Reputation Scores   Engineering:N/A  Businesss:{row[4]}')
        elif row[4]== "None":
            print(f'Reputation Scores   Engineering:{row[3]}   Businesss:N/A')
        else:
            print(f'Reputation Scores   Engineering:{row[3]} Businesss:{row[4]}')
        print ()
        
    if x == 0:
        print("Cannot find school with that name.")
    name = input("Enter the name of a school or type 'quit': ")

Enter the name of a school or type 'quit':  Boston

Boston College                          Rank: 32
www.bc.edu                              Chestnut Hill,MA
Enrollment:   9309                      6175528000
President:William P. Leahy, S.J.
Reputation Scores   Engineering:N/A  Businesss:3.6


Boston University                       Rank: 37
www.bu.edu                              Boston,MA
Enrollment:  17944                      6173532000
President:Robert  A. Brown
Reputation Scores   Engineering:3.1 Businesss:3.4


University of Massachusetts--Boston     Rank: 202
www.umb.edu                             Boston,MA
Enrollment:  12847                      6172875000
President:Katherine Newman
Reputation Scores   Engineering:N/A  Businesss:2.6

Enter the name of a school or type 'quit':  quit