# PS 04: Dictionaries

In [1]:
#Print multiple outputs from a cell
get_ipython().ast_node_interactivity = 'all'

## Problem 1 (4 points)

Fill in the blanks below. (Edit each cell to replace the blanks with your code.) These questions refer to the following dictionaries:
```
d1 = {'SellingPrice': 24.95}
d2 = {'Weight': 100.0, 'PricePerPound': 0.78}
```

a. Using d1 above, complete the IF statement so that it will be True if d1 contains a SellingPrice
```
        if ____"SellingPrice" in d1________________________________________:
```         x = True
        else:
            x= False
        x

b. Using d1 above, complete the IF statement so that it will be True if d1 does not contain a Quantity
```
    if "Quanity" not in d1:

c. Using d2 above, complete the IF statement so that it will be True if d2 contains both a Quantity and a PricePerPound
```
        if ___"Quantity" in d2 and "PricePerPound" in d2_________________________________________:
```

d. Using d2 above, complete the IF statement so that it will be True if the PricePerPound is more than 0.5
```
        if _____________d2["PricePerPound"] > .5:
            x= True
        else:
            x= False_______________________________
```

## Problem 2 (4 points)

The questions below refer to the dictionaries in the following code cell.

In [85]:
d1 = {'SellingPrice': 24.95}
d2 = {'Weight': 100.0, 'PricePerPound': 0.78}
d3 = {'ProductID': 804, 'SuggestedPrice': 3.00, 'CostToProduce': 1.25}
d4 = {}

(a) Write a statement to assign the SellingPrice from d1 to a variable named _sp_.

In [86]:
# Code for question (a) here

sp = d1["SellingPrice"]
sp

24.95

(b) Using d2, write an expression to multiply the Weight by the PricePerPound.

In [87]:
# Code for question (b) here
x = d2["Weight"] * d2["PricePerPound"]
x

78.0

(c) Write an expression to calculate the profit earned from selling one unit of the product described by d3.

In [88]:
# Code for question (c) here
profit = d3["SuggestedPrice"] - d3['CostToProduce']
profit

1.75

(d) Write a statement to add the key 'EmployeeID' to d4 with the value _607_.

In [89]:
# Code for question (d) here
d4["EmployeeID"]= 607
d4

{'EmployeeID': 607}

# Lists of dictionaries

Because a dictionary can be used to group together related values, it's a nice way to represent data about real-world things, such as students, or products. In that case, just one dictionary isn't all that helpful -- it would be better to have a *list* of dictionaries, so that we can represent more than one thing in one data structure.

## Problem 3 (6 points)

You have information about students and their performance in your class:  Maria has student ID 460 and scored 80, 74, and 92 on the three exams. Trent has student ID 322 and scored 95, 71, and 83 on the three exams.

Make a list of dictionaries where each element is a dictionary representing a single student.  The keys for each dictionary should be 'ID', 'Name', and 'Exam Scores', where the value for the key 'Exam Scores' is a list of the three exam scores.

You will need to do this manually:  no need to use a for loop.  One way to do this is to write statements that accomplish the following:
* Create an empty list named *student_data*
* Add the dictionaries corresponding to each student.

In [94]:
# Problem 3 code here
student_data = {}
student_data["Maria"]= {"ID": 460, "Name":"Maria", "Exam Scores":[80,74,92]}
student_data["Trent"]= {"ID": 322, "Name":"Trent", "Exam Scores":[95,71,83]}
student_data

{'Maria': {'ID': 460, 'Name': 'Maria', 'Exam Scores': [80, 74, 92]},
 'Trent': {'ID': 322, 'Name': 'Trent', 'Exam Scores': [95, 71, 83]}}

## Problem 4 (8 points)

Referring to the *student_data* list that you created in Problem 3, write some code to loop through that list and print the ID, name, and average exam score as a reasonably neatly formatted table. Your code should print the table below.  (You do not have to use Python's format mini specification to align columns; just add spaces between them.  You may hardcode the heading and the line that follows it.)
```
ID       Name      Average Exam Score
-----------------------------------
460      Maria           82
322      Trent           83
```

You must use a loop, but you do not need to write a function.

In [95]:
# Problem 4 code here
print("ID     Name    Average Exam Score")
print("----------------------------------")

for line in student_data:
    print(f'{student_data[line]["ID"]}    {student_data[line]["Name"]}     {(sum(student_data[line]["Exam Scores"])/len(student_data[line]["Exam Scores"]))}')

ID     Name    Average Exam Score
----------------------------------
460    Maria     82.0
322    Trent     83.0

# Inventory System

Another use of a list of dictionaries is managing an inventory system.

Inventory systems typically have data at several different levels, and so would require many lists of dictionaries, including:
* information about products that changes rarely, like the price.
* information about products that changes often, like the level of inventory.
* information about each sales transaction.

We'll work with the list of price information and a list of transaction information in the next problem.

## Problem 5 (8 points)

The cell below contains a list of dictionaries that represents price data about products. The variable is named `MPT`, which stands for `Master Price Table`. This variable contains data about some products that you sell at your store, _Snackito Ergo Nom-Nom_.

Beneath the list, write a **function** named _lookup_ that takes one argument, an integer ProductID. Name the argument `product_id`. Using that argument, find the corresponding product in the MPT and return a tuple containing that product's SuggestedPrice and CostToProduce.

Hint: You need a `for` loop.

In [96]:
# Master Price Table
MPT = [
    {'ProductID': 804, 'SuggestedPrice': 3.00, 'CostToProduce': 1.25},
    {'ProductID': 79, 'SuggestedPrice': 14.99, 'CostToProduce': 7.00},
    {'ProductID': 1275, 'SuggestedPrice': 7.50, 'CostToProduce': 2.50}
]

def lookup(product_id):
    for line in MPT:
        if product_id == line["ProductID"]:
            x = line["SuggestedPrice"],line["CostToProduce"]
            return x
# Problem 5 code here

In [97]:
# Run this cell AFTER you have written your function *lookup*
# Code to test our lookup function
lookup(79)  #should return (14.99, 7.0)
lookup(804)  #should return (3.0, 1.25)

(14.99, 7.0)

(3.0, 1.25)

## Problem 6 (8 points)
Given a list of lowercase strings named *mystrings*, create and return a dictionary whose keys are the unique first characters of the strings and whose values are lists of words beginning with those characters, in the same order that they appear in the list of strings.  Ignore case:  you can assume that all words are lowercase.  A sample list of strings is given below, but your code should work on any list of strings of any length.  You do not have to write a function.

In [98]:
mystrings = ["banana", "xylophone", "duck", "carriage", "bandana", "diamond", "cardinal"]

# desired outcome:
# {'b': ['banana', 'bandana'],
# 'x': ['xylophone'],
# 'd': ['duck', 'diamond'],
# 'c': ['carriage', 'cardinal']}

In [99]:
d = {}

for word in mystrings:
    first = word[0]
    if first not in d:
        d[first] = [word]
    else:
         d[first]+= [word]
    
d

{'b': ['banana', 'bandana'],
 'x': ['xylophone'],
 'd': ['duck', 'diamond'],
 'c': ['carriage', 'cardinal']}

## Problem 7 (6 points)
You're given a dictionary below with different gas stations and the price of different types of gas at each.

In [100]:
d = {
    "Speedway": {"unleaded": 3.50, "mid-tier": 3.92, "premium": 4.19},
    "Mobil": {"unleaded": 3.52, "mid-tier": 3.90, "premium": 4.20},
    "Costco": {"unleaded": 3.45, "premium": 4.10}
    }

a.  Write an expression to return the price of Mobil's mid-tier gas.

In [101]:
d["Mobil"]["mid-tier"]

3.9

b. Write a loop to print each station name and price of its premium gas.

In [102]:
for key in d.keys():
    print(f'Name:{key} Premium Gas:{d[key]["premium"]}')

Name:Speedway Premium Gas:4.19
Name:Mobil Premium Gas:4.2
Name:Costco Premium Gas:4.1

## Problem 8 (6 points)
Write a function called *shift* which takes a list as an argument.  It should create a copy of the list.  With the copy it should shift all the elements in the list to the left by one position and place the last element at the back of the list.  It should then return the new list.  In your function definition the argument should be named *arg_list*.

Write your function in the code cell below.  Once it's written, then you can run the code in the cell below that to test your function.

`shift([1, 2, 3, 4])` should return `[2, 3, 4, 1]`.

In [103]:
# put your function definition for #8 here
def shift(arg_list):
    arg_list2 = arg_list[:]
    first = arg_list[0]
    arg_list2.remove(first)
    arg_list2.append(first)
    return arg_list2

In [104]:
# Once you have defined your function you can run these cells to test it.
alist = ["ice cream", "Boston", 27, -43]
new_list = shift(alist)  
new_list  # should return ["Boston", 27, -43, "ice cream"]

['Boston', 27, -43, 'ice cream']